html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* -------------------------------------------

* {
    border: 1px solid green;
}
*/


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: black;
    padding: 3%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1 {
        align-self: start;
    }
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.component {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card_festival {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}



.card_festival_info{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;

    h1 {
        font-size: 1.7rem;
        font-weight: 700;
    }

    .data {
        color: #fd9801;
    }

    .localizacao {
        color: #e5e5e5;
        margin-bottom: 10px;
    }

    .preço {
        background: black;
        border-radius: 10px;
        width: fit-content;
        padding: 6px 11px;

    }
}

.fav_icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000000;
    z-index: 9999;
}

.venda_final {
    background: #323232;
    width: 97%;
    height: 45px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 10%;
        height: 60%;
        margin-left: 0px;
    }

    p{
        text-align: start;
        width: 60%;
        color: #e5e5e5;
    }


}


#brunch_electronik {
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgb(30, 30, 30)),
            url("../images/brunch.jpg");

}