@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Inter', sans-serif;
}


h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.15px;
  color: #E6E6E6;
}

/* -------------------------------------------

* {
    border: 1px solid green;
}
*/


html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: black;
  padding: 3%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h1 {
    align-self: start;
    font-size: 20px;
  }
}

nav {
  background: black;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 282px;
  margin-bottom: 10px;
}

.destaque {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 55%;
  border-radius: 25px;
  display: flex;
  justify-content: start;
  align-items: flex-end;

  .card_festival_info {
    border-right: 5px dashed #fd9801;
    justify-content: center;
  }
}

#acontecer {
  text-align: center;
  background: #fd9801;
  color: white;
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 2px 8px;
}

.card_festival_info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 2%;
  margin-left: 9%;
  height: 100%;

  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
  }

  .data {
    color: #fd9801;
    font-size: 0.9rem;
  }

  .localizacao {
    color: #e5e5e5;
    font-size: 0.9rem;
  }

  .preço {
    margin-top: 2%;
    background: black;
    border-radius: 10px;
    width: fit-content;
    padding: 6px 11px;
    margin-bottom: 7%;
  }
}

.preço {
  background: black;
  border-radius: 10px;
  width: 68px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}


.fav_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
  z-index: 998;
}

.pill {
  position: relative;
  background: #323232;
  width: 100%;
  height: 46px;
  border-radius: 22px;

  .venda_wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    .left {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      width: 15%;
      height: 60%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    p {
      text-align: start;
      width: 60%;
      color: #e5e5e5;
    }

    #preco {
      width: 15%;
    }
  }

  input {
    border: none;
    background-color: #323232;
    color: #e5e5e5;
    width: 80%;
    font-size: 1rem;
  }
}


.card_festival {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 314px;
  border-radius: 25px;
  display: flex;
  justify-content: start;
  align-items: flex-end;

  .fav_icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}


.cards_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(50, 50, 50));

  .card_festival_info {
    justify-content: center;
    margin-left: 14px;
    width: 60%;

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 13px;
    }
  }

  &.fest {
    border-radius: 20px;

    & .img_icon {
      border-radius: 20px 0 0 20px;
    }
  }

  &.pill {
    border-radius: 45px;


    & .img_icon {
      border-radius: 45px;

    }


  }

  & .img_icon {
    width: 90px;
    height: 90px;

  }

  .fav_icon {
    position: absolute;
    right: 15px;
  }

}


//festival

.festival{
  border-bottom: 1px solid #A0A0A0;
  padding-bottom: 20px;
  width: 100%;

  &>.card_festival_info{
    justify-content: start;
    height: fit-content;
    align-items: start;
    margin-left: 0;
  }
}

 .bilhete {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   height: 90px;
   background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(50, 50, 50));
   border-radius: 45px;

   &.inactive{
     color: #A0A0A0;
   }

   & .img_icon {
     border-radius: 45px;
     background: #323232;
     display: flex;
     justify-content: center;
     align-items: center;

     img{
         width: 40px;
         height: 40px;
     }
   }

   .preço {
     position: absolute;
     right: 30px;
   }
 }

 //pop-up

.confirmation{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  background: #181818;
  gap: 15px;
  padding: 15px;
  border-radius: 5%;
  z-index: 99999;

  h1{
    align-self: start;
  }

  .list{
    height: 70px;
     width: 100%;

    .img_icon{
      width: 70px;
      height: 70px;
    }
  }

  .pill {
    height: 46px;
  }

  table {
    width: 80%;
    font-size: 13px;
    column-gap: 50px;
  }

  .venda_wrapper{
    justify-content: start;
    gap: 25px;
    margin-left: 15px;

    img{
      width: 24px;
    }
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    background: #323232;
    color: #E6E6E6;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 20px;
    }
  }

  .inline{
    display:flex;
    width: 100%;
    gap: 9px;
  }

}




//geral

.last-s{
  margin-bottom: 20px;
}

.last-m{
  margin-bottom: 100px;
}

.last-l{
  margin-bottom: 150px;
}

//festivais
.brunch_electronik_fade {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(50, 50, 50)),
  url("../images/brunch.jpg");
  background-size: cover;
  background-position: center;
}

.brunch_electronik {
  background-image: url("../images/brunch.jpg");
  background-size: cover;
  background-position: center;
}

.somnii_fade {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(50, 50, 50)),
  url("../images/somnii_23.jpg");
  background-size: cover;
  background-position: center;
}


.somnii_23 {
  background-image: url("../images/somnii_23.jpg");
  background-size: cover;
  background-position: center;
}

.somnii_24 {
  background-image: url("../images/somnii_24.jpg");
  background-size: cover;
  background-position: center;
}

.tomorrowland_fade {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(50, 50, 50)),
  url("../images/tomorrowland.jpg");
  background-size: cover;
  background-position: center;
}

.tomorrowland {
  background-image: url("../images/tomorrowland.jpg");
  background-size: cover;
  background-position: center;
}

.sonar_fade {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(50, 50, 50)),
  url("../images/sonar_24.jpg");
  background-size: cover;
  background-position: center;
}

.sonar {
  background-image: url("../images/sonar_24.jpg");
  background-size: cover;
  background-position: center;
}

//pillas

.amelie {
    background-image: url("../images/amelie.jpg");
    background-size: cover;
    background-position: center;
}

.artbat {
    background-image: url("../images/artbat.jpg");
    background-size: cover;
    background-position: center;
}

.timmy {
    background-image: url("../images/timmy.jpg");
    background-size: cover;
    background-position: center;
}

.nto {
    background-image: url("../images/nto.jpg");
    background-size: cover;
    background-position: center;
}

.oliver {
    background-image: url("../images/oliver.jpg");
    background-size: cover;
    background-position: center;
}

.blaster {
    background-image: url("../images/blasterjaxx.jpg");
    background-size: cover;
    background-position: center;
}

.ticket_active {
    background-image: url("../icons/nav_ticket_active.svg");
    background-size: cover;
    background-position: center;
}

.ticket_inactive{
    background-image: url("../icons/nav_ticket.svg");
    background-size: cover;
    background-position: center;
}